<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a new Blog Post:</h3>

    <form class="form new-blogpost-form">
      <div class="form-group">
        <label for="project-name">Post Title</label>
        <input
          class="form-input"
          type="text"
          id="post-title"
          name="project-name"
        />
      </div>
      <div class="form-group">
        <label for="project-funding">Post Body:</label>
        <textarea
          class="form-input"
          type="text"
          id="post-content"
          name="project-funding"
        ></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>
</div>
{{#each posts as |post|}}
  <div class="blog-post" data-index="{{post.id}}">
    <div>
      <p class="created-by">Created by
        {{user.username}}
        on
        {{post.createdAt}}</p>
    </div>
    <h2 class="blog-post-title">
      {{post.title}}
    </h2>
    <p>
      <span class="blog-post-content">{{post.content}}</span>
    </p>
  </div>
  <div class="form-group">
    <button class="btn btn-primary edit-btn" type="submit">Edit</button>
  </div>
  <div class="form-group">
    <button class="btn btn-primary delete-btn" type="submit">Delete</button>
  </div>
  <br />
{{/each}}

<script src="./js/add-blogpost.js"></script>
<script src="./js/edit-blogpost.js"></script>
<script src="./js/"></script>